<div class="col-sm-10">
    <table class="table table-striped">
        <colgroup>
            <col class="col-sm-4">
            <col class="col-sm-4">
            <col class="col-sm-4">
        </colgroup>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Command</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let logrow of logs">
                <td *ngFor="let log of logrow, let ind=index"> {{log}}</td>
            </tr>
        </tbody>
    </table>
</div>